/* style.css */
.stTabs [data-baseweb="tab-list"] {
    gap: 10px;
}

.stTabs [data-baseweb="tab"] {
    padding: 8px 16px;
    border-radius: 4px 4px 0 0;
}

[data-testid="stSidebar"] {
    background: #222222;
    padding: 20px;
}

.st-b7 {
    color: #222222;
}

.st-b8{
    color: #f0f2f6;
}

.st-cb {
    background-color: #f0f2f6;
}